# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/.idea.TopDown.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../:\GameDev\Improvize\TopDown\.idea\.idea.TopDown\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
